* {
  outline: none;
  box-shadow: none;
}
.btn-1,
.btn-1:hover,
.btn-1::before,
.btn-1::after,
.btn-1:active,
.btn-1:focus,
.btn-1:active:focus {
  background: #38f8df;
  border: 2px solid #046a99;
  color: #046a99;
  outline: none;
  box-shadow: none;
  border-radius: 20px;
}
