* {
  outline: none;
  box-shadow: none;
}
.btn-1,
.btn-1:hover,
.btn-1::before,
.btn-1::after,
.btn-1:active,
.btn-1:focus,
.btn-1:active:focus,
.btn-2,
.btn-2:hover,
.btn-2::before,
.btn-2::after,
.btn-2:active,
.btn-2:focus,
.btn-2:active:focus,
.btn-3,
.btn-3:hover,
.btn-3::before,
.btn-3::after,
.btn-3:active,
.btn-3:focus,
.btn-3:active:focus,
.btn-4,
.btn-4:hover,
.btn-4::before,
.btn-4::after,
.btn-4:active,
.btn-4:focus,
.btn-4:active:focus,
.btn-5,
.btn-5:hover,
.btn-5::before,
.btn-5::after,
.btn-5:active,
.btn-5:focus,
.btn-5:active:focus {
  background: #38f8df;
  border: 2px solid #046a99;
  color: #046a99;
  outline: none;
  box-shadow: none;
  border-radius: 20px;
}
